@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    margin:0;
}
header{
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #8D8484;
    color: #000;
    font-size: 45px;
    font-weight: 400;
}
main{
    display: flex;
}
.left_top{
    width: 73vw;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #776969;
    color: #FFF;
    font-size: 45px;
    font-weight: 400;
}
.left_center{
    width: 73vw;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-size: 45px;
    font-weight: 400;
    background: #643030;
}
.left_button{
    width: 73vw;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-size: 45px;
    font-weight: 400;
    background: #441818;
}
.right_top{
    width: 27vw;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #937575;
    color: #FFF;
    font-size: 45px;
    font-weight: 400;
}
.right_button{
    width: 27vw;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #644C4C;
    color: #FFF;
    font-size: 45px;
    font-weight: 400;
}
footer{
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    font-size: 45px;
    font-weight: 400;
    background: #BDBDBD;
}
