@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');
*{
    margin:0;
    padding:0;
}
.cards{
    height:100vh;
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: #466346;
    flex-wrap: wrap;
    gap: 5px;
    padding: 5px 50px;
}
.month {
    width: 210px;
    height: 200px;
    border: 1px solid #cde3cd;
    background-color: #cde3cd;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    transition: 3s;
}
.month:hover{
    transition: 3s;
    transform: scale(1.2);
    /*width:225px;*/
    /*height:225px;*/
}
.month p{
    font-size: 14px;
    margin-left: 10px;
}
.month h3{
    margin-left: 10px;
}
