*{
    margin:0;
    padding:0;
}
.cards{
    height:100vh;
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2b572b;
    flex-wrap: wrap;
    gap: 20px;
    padding: 5px 50px;
}
.month{
    width:200px;
    height:190px;
    border: 1px solid #cde3cd;
    background-color: #cde3cd;
    border-radius: 10px;
    display:flex;
    justify-content: space-between;

    flex-direction: column;
    font-size: 14px;
}
.month:hover p{
    text-align:initial ;
    margin-left: 5px;
}
